* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --white:  #fff;
    --brown: #33292a;
}

h2 {
    font-weight: bold;
}

.navigation {
    background-color: var(--brown);
    height: 50px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

.mobile-menu {
    display: none;
}

.hero-section {
    background-image: url(./img/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    top: 50px;
}



.hero-text {
    width: 60%;
    height: 100%;
    text-align: right;   
    color: var(--white);
    margin: auto;
    position: relative;
}

.hero-text h1 {
    position: absolute;
    right: 0;
    bottom: 5%;
    font-size: 100px;
    font-weight: bold;
    
}

.about-us {
    width: 100%;
    height: auto;
    background-color: var(--white);
}  

.about-us-wrap {
    width: 60%;        
    display: flex;
    justify-content: space-between;       
    margin: 150px auto 100px;
    align-items: stretch;
}

.about-us-text {
    width: 45%;
    height: auto;   
    text-align: justify;    
}

.about-us-text h2 {
    margin-bottom: 10px;
}

.about-us-img-wrap {
    width: 45%;
    height: auto;
    background-image: url(./img/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);  
    background-position: center 90%;
    background-size: cover;
    
}

.what-we-do {
    background-color: var(--brown);
}

.what-we-do-wrap {
    width: 60%;
    margin: auto;
    color: var(--white);
    
}

.what-we-do-text {
    margin-bottom: 30px;
    text-align: justify;
}

.what-we-do-text h2 {
    padding-top: 8%;
    padding-bottom: 20px;
    text-align: center;
}

.what-we-do-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8%;
    margin-top: 5%;
}

figure img {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.our-trips {
    width: 60%;    
    margin: auto;
    margin: 70px auto;
}

.grid-trips {
    width: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 15px;
}

.grid-trips img {
    width: 100%;
    height: 100%;
    transition: scale 1.5s, transform 1s;    
}

.grid-trips img:hover {
    scale: 1.3;
    transform: rotate(360deg);
    z-index: 1;
}

.grid-trips img:not(hover) {
    z-index: 0;
}

.our-trips-text {
    background-color:lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.where-to-go {
    width: 100%;
    background-color: var(--brown);
    
    
}

.where-to-go-wrap {
    width: 60%;
    margin: auto;
    padding: 70px 0;
    display: flex;
    color: var(--white);
    justify-content: space-between;
    
}

.where-to-go-text {
    margin-left: 30px;
    width: 80%;
    text-align: justify;
}

.where-to-go-text p {
    margin-bottom: 15px;
    
}

button {
    margin-top: 30px;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
}

.reviews-persons {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.reviews {
    width: 100%;
    margin: 70px 0;
}

.reviews-wrap {
    width: 60%;
    margin: 40px auto;
}

.reviews-text {
    width: 40%;
    margin: auto;
    text-align: center;
}

.reviews-text p {
    margin: 20px auto;
}

.person-wrap img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.person {
    width: 40%;
    text-align: center;
}

.person-text p {
    margin: 20px 0;
    text-align: center;
}

.four-seasons {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.four-seasons img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--brown);
    width: 100%;
}

.footer-wrap {
    width: 60%;
    margin: auto;
    padding: 30px;
    text-align: center;
}

.footer-wrap p {
    margin: 10px;
    color: var(--white);
}

.footer-wrap a {
    color: gold;
    transition: color 1.5s;
}

.footer-wrap a:hover {
    color: red;
}

/* mobil */

@media only screen and (max-width: 768px) {
    nav a {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    nav {
        justify-content: end;
    }
    .hero-text, .about-us-wrap, .what-we-do-wrap, .our-trips, .where-to-go-wrap, .reviews-wrap, .reviews-persons, .footer-wrap, nav {
        width: 80%;
    }

    .hero-text h1{
        font-size: 80px;
    }

    .grid-trips {
        display: flex;
        flex-wrap: wrap;
    }
    
    .our-trips-text {
        width: 100%;
        height: 10vh;
    }

    .reviews-persons {
        flex-direction: column;
        align-items: center;
    }

    .person, .reviews-text {
        width: 100%;
    }

    .about-us-wrap {
        display: block;
    }

    .about-us-text {
        width: 100%;
    }

    .about-us-text h2 {
        margin: 20px 0;
    }

    .about-us-img-wrap {
        width: 100%;
        min-height: 200px;
        margin-top: 20px;
        background-position: 0 90%;
    }

    .where-to-go-wrap {
        display: block;
        text-align: center;
    }

    .where-to-go-text {
        margin: 15px 0;
        text-align: center;
        width: 100%;
    }

    .what-we-do-icons {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    figure img{
        margin-top: 30px;
        margin-bottom: 0;
    }

    .four-seasons {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .four-seasons img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
